@font-face {
    font-family: 'imperfectregular';
    src: url('/font/imperfect-regular-webfont.woff2') format('woff2'),

        url('/font/imperfect-regular-webfont.woff') format('woff'),
        url('/font/imperfect-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}