* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@import"_imperfect-font";
@import"_btn";

html {
    height: 100%;
}

body {
    background: linear-gradient(55deg, #a54184f3, #0b7fdb);
    background: black;

}


main {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

#micImg {
    width: auto;
    height: auto;
    margin-bottom: 20px
}

article {
    font-family: "imperfectregular", Courier New, Courier, monospace;
    background: transparent;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    min-width: 20vw;
    max-width: 80vw;
    margin: 5vmin 0px;

    p {
        font-size: 1.5rem;
        padding: 3vmin;
    }

}

#container {
    display: contents;
}

.checkbox {
    font-family: "imperfectregular", Courier New, Courier, monospace;
    background: transparent;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    padding: 10px;
    margin: 10px;

    label {
        font-size: 1rem;

        input {
            margin: 2px;
        }
    }


}

footer {
    position: fixed;
    bottom: 0;
    background: #ffffffb9;
    padding: 5px 10px;
    border-radius: 0 20px 0 0;
    font-family: monospace;

    a {

        color: black
    }

}